.box-layout {
    align-items: center;
    background: url('/images/bg.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.box-layout__box {
    @include horizontalGradient-three-colors($primary-color, $gradient-center, 50%, $primary-color);
    @include border-radius(3px);
    text-align: center;
    top: -3rem;
    position: relative;
    // box-shadow: 3px 5px 17px -2px rgba(0, 0, 0, 0.8);
    padding: 1rem 3rem 3rem;
    max-width: 32rem;
    width: 90%;
    box-sizing: border-box;
}

.box-layout__title {
    margin-bottom: .5rem;
    @media #{$small-and-down} {
        font-size: 9vw;
    }
}

.box-layout__subtitle {
    color: $light-text;
    font-size: 1.2rem;
    font-weight: 100;
    margin: 0 0 2.5rem;
}

.box-layout__button {
    background-color: $light-text;
    color: $grey-text;
    line-height: 1.5rem;
    &:focus, &:hover {
        background-color: darken($light-text, 10%);
    }
}