.expense-list__message {
    font-weight: 100;
    color: $grey-text;
    margin-top: 5vw;
    text-align: center;
}

.expense-list__container {
    max-width: $max-width;
    margin-bottom: 7rem;
}

.expense-list__header {
    background-color: $light-grey-background;
    border: 1px solid darken($light-grey-background, 8%);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2.5vw;
    color: $grey-text;
    @media #{$large-and-up} {
        padding: 1rem 2rem;
    }
}

.expense-list__item {
    color: $grey-text;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75rem 2.5vw;
    border: 1px solid darken($light-grey-background, 8%);
    border-top: none;
    h5 {
        font-size: 1.1rem;
        margin:0;
        &.list-item__description {
            padding-right: 1.5rem;
            word-break: break-all;
        }
    }
    span {
        font-size: 80%;
        font-weight: 100;
    }
    @media #{$large-and-up} {
        padding: 1rem 2rem;
    }
    &:hover, &:focus {
        background-color: $light-grey-background;
        @include transition(all ease .2s);
        h5 {
            color: $off-black;
        }    
    }
}