.expense-form__container {
    padding: 2.5rem 0;
    max-width: $max-width;
    input[type=text], textarea {
        @include box-sizing(border-box);
        padding: 0 1.5vw;
        margin-bottom: 1.75rem;
    }
    textarea {
        margin-top: .5rem;
        line-height: 1.7rem;
    }
    .DateInput__display-text {
        font-weight: 400;
        padding-left: 1.5vw;
    }
    @media #{$large-and-up} {
        padding: 5vw 5vw 8rem;
    }
}

.expense-form__error {
    color: $primary-color;
    text-align: center;
    margin-top: 0;
}

.expense-form__button {
    float: right;
}

.expense-form__secondary-button {
    color: $primary-color;
    &:hover, &:focus {
        color: lighten($primary-color, 20%);
    }
}

