.header {
    @include horizontalGradient-three-colors($primary-color, $secondary-color, 50%, $primary-color);
    padding: 2rem 0 2.5rem;
    margin-bottom: 0;
    @media #{$small-and-down} {
        padding: 1rem 0 1.5rem;
    }
}

.header__content {
    display: flex; 
    justify-content: space-between;
}

.header__title {
    font-size: 2.5rem;
    margin: 0;
    @media #{$small-and-down} {
        font-size: 9vw;
    }
}

.header__subtitle {
    color: $light-text;
    font-size: 1.1rem;
    font-weight: 100;
    margin: 0 0 0 .25rem;
    @media #{$small-and-down} {
        font-size: 3.5vw;
    }
}

.header__button {
    color: $light-text;
    position: relative;
    top: .25rem;
    @media #{$small-and-down} {
        font-size: .8rem;
        padding-right: .25rem;
    }
}