.input-field {
    margin:0;
}

.material-text {
    font-weight: 100;
}

.material-select {
    span.caret {
        color: $grey-text;
        font-size: .8rem;
        top: .9rem;
        right: -.75rem;
        @media #{$small-and-down} {
            font-size: .7rem;
            top: 1rem;
            right: -.5rem;
        }
    }
    input.select-dropdown {
        padding: $input-padding;
        font-weight: 100;
    }
    .dropdown-content li > span {
        font-weight: 100;
    }
} 

/*
*   Date range picker
*/
.input-wrapper {
    margin-bottom: 0;
    position: relative;
    .DateRangePicker {
        margin: $input-margin;
        @media #{$small-and-down} {
            margin-top: .5rem;
        }
    }
    .DateRangePickerInput, .SingleDatePickerInput {
        border: none;
        border-bottom: $input-border;
    }
    .DateInput {
        font-size: $input-font-size;
        width: auto;
        line-height: $input-font-size;
    }
    .DateInput--open-down {
        padding: 9px 0;
        @media #{$large-and-up} {
            padding: .7rem 0;
        }
    }
    .DateRangePickerInput__arrow > svg {
        height: 1.2rem;
        width: 1.2rem;
    }
    .DateRangePickerInput__clear-dates {
        margin: 0;
        line-height: .7rem;
        padding: .5rem;
        svg {
            height: .7rem;
            width: .7rem;
        }
        @media #{$medium-and-down} {
            padding: .2rem;
        }
        @media #{$small-and-down} {
            padding: .7rem;
        }
    }
    .date-label {
        display: block;
        position: absolute;
        top: -1rem;
        left: 10px;
    }
    .SingleDatePicker {
        margin-bottom: 1.75rem;
        width: 100%;
    }
}