.page-header {
    padding: 2rem 0;
    background-color: $light-grey-background;
    @media #{$small-and-down} {
        text-align: center;
    }
}

.page-header__container {
    margin-bottom: 0;
}

.page-header__flex-wrapper {
    @media #{$large-and-up} {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.page-header__centered {
    text-align: center;
}

.page-header__title {
    margin: 0;
    font-size: 1.75rem;
    line-height: 1.9rem;
    color: $grey-text;
    font-weight: 100;
    @media #{$small-and-down} {
        font-size: 1.5rem;
    }
    span {
        font-weight: bold;
    }
}

.page-header__actions {
    @media #{$medium-and-down} {
        margin-top: 1.25rem;
    }
    .btn {
        padding: .5rem 2rem;
    }
}
